@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url(../assets/font/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'inter';
}
.swiper-pagination-bullet {
  color: black;
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 10px;
}
.swiper {
  width: 100%;
  height: 100%;
}
